.navbar{
    background-color: rgb(220, 220, 220);
    display: flex;
    justify-content: space-around;

    .navbar-brand{
        text-transform: none;
        font-family: "Lovers Quarrel";

        h2{
            font-size: 40px;
            margin: 0;
        }
    }

    .navbar-list{
        width: 70%;
        padding-left: 5rem;

        ul{
            width: 80%;
            display: flex;
            justify-content: space-around;
            list-style: none;
            
            a{
                text-decoration: none;
                color: black;
                text-transform: uppercase;
            }
        }
    }
}

@media (max-width: 700px){
    .navbar{
        display: block;

        .navbar-brand{
            text-align: center;
        }

        .navbar-list{
            width: 100%;
            padding: 0;
            padding-bottom: 0.2rem;

            ul{
                width: 100%;
                padding: 0;
            }
        }
    }
}